/* frontend/src/app/globals.css */
@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46; 
    border-radius: 10px;
  }
}