services:
  db:
    image: postgres:15
    container_name: english-ai-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: english-ai-backend
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app   # ← ここを追加
    working_dir: /app    # ← これもあった方が安全

  frontend:
    build: ./frontend
    container_name: english-ai-frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
     - ./frontend:/app        # ホストのコードをコンテナにマウント
     - /app/node_modules      # node_modules はコンテナ側に残す
    working_dir: /app
    depends_on:
      - backend

volumes:
  postgres_data:
