services:
  db:
    image: postgres:15
    container_name: db-meow
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend-meow
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app   
    working_dir: /app    

  frontend:
    build: ./frontend
    container_name: frontend-meow
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
    - ./frontend:/app:cached        
    - /app/node_modules      
    working_dir: /app
    depends_on:
      - backend

volumes:
  postgres_data:
